a { 
    list-style: none;
    text-decoration: none;
    justify-content: center;
}

body {
    background: url(./forest-g904e384ff_1920.jpg)  no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(223, 223, 167);
}

#foto {
    font-size: 15px;
}

p, li {
    font-size: 20px;
}
h1 {
    font-size: 40px;
}

